aside .container_block .title{
	background: #F0F2E5;
	border-bottom: 1px solid #858585;
}
aside .container_block .title h6 {
	color: #fff;
}
aside .container_block .event_title {
	background: #858585;
}

.reviews_list a{
	color: #000;
}
aside .container_block .title.begin-title{
	background: #858585;
}